
@font-face {
	font-family: JamieFont;
	src: url(https://jamiefleck.github.io/bacs200/Nanum_Myeongjo,Send_Flowers.zip)
}


body{
	margin: 1in;
	text-align:center;
	background-color: pink;}

h1{
	text-align: center;
	font-size: 50px;
}
h2{
	text-align: center;
}
	h3{
		text-aligm:center;
	}
	
ul{
	text-align: center;
	list-style-position: inside;}

{table,
th,
	td{border: 3px solid black;}}
