body{
    background-color:rgb(243, 207, 175);
    margin: 1in;
    text-align: center;
    border: 5px solid black;
}
h1 {
    text-align: center;
    font-size: 50px;
}
h2 {
    text-alighn: center;
    font-family: cursive;
    color: rgb(139,0,0);
}
h3 {text-alighn: center;
}
ul { 
   text-align: center;
    display:inline;
    display: table;
    margin:0 auto;
}
p { text-align: right;
}
